.cell-container {
    display: flex;
    cursor: pointer;
    box-shadow: 0 0 0 1px #DDD;
    margin: 0 0 1px 1px;
    align-items: center;
    justify-content: center;
    line-height:0;
    font-size: 50px;
}

.cross {
    color: var(--player-color);
}

.nought {
    color: var(--computer-color);
}