.cell {
    display: flex;
    margin: 0 0 1px 1px;
    cursor: pointer;
    font-size: 50px;
    line-height: 0;
}

.cell ::deep .mud-paper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
