.tic-tac-toe-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: min(75vh, 75vw, 500px);
    height: min(75vh, 75vw, 500px);
}

.floating {
    position: absolute;
    display: flex;
    backdrop-filter: blur(10px);
    border-radius: 4px;
    box-shadow: 0 1px 1px 4px #DDD;
    flex: 1;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 8px 50px;
    font-size: 20px;
}